TlosSW_V1.0_Schema/dbfiles/xsds/tlosSWData_v_1_0.xsd

<!-- Created for the TLOS Scheduler http://www.likyateknoloji.com -->
<xs:schema xmlns="http://www.likyateknoloji.com/XML_data_types" xmlns:state-types="http://www.likyateknoloji.com/state-types" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lt="http://www.likyateknoloji.com/XML_common_types" xmlns:sweep="http://schemas.ogf.org/jsdl/2009/03/sweep" xmlns:jsdl="http://schemas.ggf.org/jsdl/2005/11/jsdl" xmlns:sla="http://www.likyateknoloji.com/XML_SLA_types" targetNamespace="http://www.likyateknoloji.com/XML_data_types" elementFormDefault="qualified">
    <xs:import namespace="http://www.likyateknoloji.com/XML_common_types" schemaLocation="tlosSWOrtak_v_1_0.xsd"/>
    <xs:import namespace="http://www.likyateknoloji.com/state-types" schemaLocation="tlosSWState_v_1_0.xsd"/>
    <xs:import namespace="http://schemas.ggf.org/jsdl/2005/11/jsdl" schemaLocation="jsdl.2005_11.xsd"/>
    <xs:import namespace="http://schemas.ogf.org/jsdl/2009/03/sweep/functions" schemaLocation="sweep-functions.xsd"/>
    <xs:import namespace="http://www.likyateknoloji.com/XML_SLA_types" schemaLocation="tlosSWSLA_v_1_0.xsd"/>
    <xs:import namespace="http://schemas.ogf.org/jsdl/2009/03/sweep" schemaLocation="sweep.xsd"/>
    <xs:element name="timeManagement">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="jsPlannedTime" minOccurs="0"/>
                <xs:element ref="jsRealTime" minOccurs="0"/>
                <xs:element ref="lt:timeZone" minOccurs="0"/>
                <xs:element ref="lt:typeOfTime" minOccurs="0"/>
                <xs:element ref="jsRelativeTimeOption" minOccurs="0"/>
                <xs:element ref="jsTimeOut" minOccurs="0"/>
                <xs:element ref="expectedTime" minOccurs="0"/>
                <xs:element ref="tolerancePercentage" minOccurs="0"/>
                <xs:element ref="minPercentage" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
	<xs:element name="stopTime">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="lt:date" minOccurs="0"/>
				<xs:element ref="lt:time"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="startTime">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="lt:date" minOccurs="0"/>
				<xs:element ref="lt:time"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
    <xs:element name="jsPlannedTime">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="startTime"/>
                <xs:element ref="stopTime" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="jsRealTime">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="startTime"/>
                <xs:element ref="stopTime"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="jsTimeOut">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="lt:value_integer"/>
                <xs:element ref="lt:unit"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="expectedTime">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="lt:value_integer"/>
                <xs:element ref="lt:unit"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="tolerancePercentage" default="10">
        <xs:simpleType>
            <xs:restriction base="xs:int"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="minPercentage" default="10">
        <xs:simpleType>
            <xs:restriction base="xs:int"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="concurrencyManagement">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="lt:instanceId" minOccurs="0"/>
                <xs:element ref="lt:concurrent" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="baseScenarioInfos">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="lt:jsName"/>
                <xs:element ref="lt:comment"/>
                <xs:element ref="calendarId" minOccurs="0"/>
                <xs:element ref="jsIsActive"/>
                <xs:element ref="lt:userId"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="advancedScenarioInfos">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="lt:agentChoiceMethod" minOccurs="0"/>
                <xs:element ref="lt:schedulingAlgorithm" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="scenario">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="baseScenarioInfos"/>
                <xs:element ref="DependencyList" minOccurs="0"/>
                <xs:element ref="jobList"/>
                <xs:element ref="state-types:ScenarioStatusList" minOccurs="0"/>
                <xs:element ref="alarmPreference" minOccurs="0"/>
                <xs:element ref="timeManagement"/>
                <xs:element ref="advancedScenarioInfos"/>
                <xs:element ref="concurrencyManagement"/>
                <xs:element ref="lt:localParameters" minOccurs="0"/>
                <xs:element ref="scenario" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="ID" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string"/>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="jobInfos">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="lt:jobBaseType"/>
                <xs:element ref="lt:jobTypeDef"/>
                <xs:element ref="lt:jobTypeDetails" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="baseJobInfos">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="lt:jsName"/>
                <xs:element ref="lt:comment" minOccurs="0"/>
                <xs:element ref="jobInfos"/>
                <xs:element ref="calendarId" minOccurs="0"/>
                <xs:element ref="jobLogFile"/>
                <xs:element ref="jobLogPath"/>
                <xs:element ref="oSystem"/>
                <xs:element ref="jobPriority"/>
                <xs:element ref="jsIsActive"/>
                <xs:element ref="lt:userId"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="cascadingConditions">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="runEvenIfFailed"/>
                <xs:element ref="jobSafeToRestart"/>
                <xs:element ref="jobAutoRetry"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="stateInfos">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="state-types:JobStatusList" minOccurs="0"/>
                <xs:element ref="state-types:LiveStateInfos"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="advancedJobInfos">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="SLAId" minOccurs="0"/>
                <xs:element ref="resourceRequirement" minOccurs="0"/>
                <xs:element ref="lt:agentChoiceMethod" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="alarmPreference">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="alarmId" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="jobProperties">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="jsdl:JobDescription" minOccurs="0"/>
                <xs:element ref="sweep:Sweep" minOccurs="0"/>
                <xs:element ref="baseJobInfos"/>
                <xs:element ref="DependencyList" minOccurs="0"/>
                <xs:element ref="cascadingConditions"/>
                <xs:element ref="stateInfos"/>
                <xs:element ref="advancedJobInfos"/>
                <xs:element ref="concurrencyManagement"/>
                <xs:element ref="alarmPreference" minOccurs="0"/>
                <xs:element ref="timeManagement"/>
                <xs:element ref="lt:localParameters" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="ID" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string"/>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="agentId" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:int"/>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="LSIDateTime" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string"/>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="jobPriority">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="1"/>
                <xs:enumeration value="2"/>
                <xs:enumeration value="3"/>
                <xs:enumeration value="4"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="jobLogPath">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <!-- <xs:pattern value="[abcdefgABCDEFG]:[\\/]([a-zA-Z/\\\.0-9_ \-])*"/> -->
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="jobLogFile">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:pattern value="([a-zA-Z/\\\.0-9_ \-])*"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="jobList">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="jobProperties" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="DependencyExpression">
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
	<!--xs:element name="jobCommandType">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="SYSTEM COMMAND"/>
                <xs:enumeration value="SHELL SCRIPT"/>
                <xs:enumeration value="ORACLE"/>
                <xs:enumeration value="SAP"/>
                <xs:enumeration value="SAS"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element-->
    <xs:element name="calendarId">
        <xs:simpleType>
            <xs:restriction base="xs:int"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="SLAId">
        <xs:simpleType>
            <xs:restriction base="xs:int"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="alarmId">
        <xs:simpleType>
            <xs:restriction base="xs:int"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="jobAutoRetry">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="YES"/>
                <xs:enumeration value="NO"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="jsRelativeTimeOption" default="NO">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="YES"/>
                <xs:enumeration value="NO"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="jobSafeToRestart">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="YES"/>
                <xs:enumeration value="NO"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="runEvenIfFailed" default="NO">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="YES"/>
                <xs:enumeration value="NO"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="oSystem" default="Windows">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="Windows"/>
                <xs:enumeration value="Unix"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="jsIsActive" default="YES">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="YES"/>
                <xs:enumeration value="NO"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="resourceRequirement">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="sla:Hardware"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="TlosProcessData">
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:element ref="baseScenarioInfos"/>
                <xs:element ref="DependencyList" minOccurs="0"/>
                <xs:element ref="jobList"/>
                <xs:element ref="state-types:ScenarioStatusList" minOccurs="0"/>
                <xs:element ref="alarmPreference" minOccurs="0"/>
                <xs:element ref="timeManagement"/>
                <xs:element ref="advancedScenarioInfos"/>
                <xs:element ref="concurrencyManagement"/>
                <xs:element ref="lt:localParameters" minOccurs="0"/>
                <xs:element ref="scenario" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="instanceId" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string"/>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="solsticeId" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string"/>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="DependencyList">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Item" maxOccurs="unbounded"/>
                <xs:element ref="DependencyExpression"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Item">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="lt:jsName"/>
                <xs:element ref="lt:jsType"/>
                <xs:element ref="lt:jsPath" minOccurs="0"/>
                <xs:element ref="lt:comment"/>
                <xs:element ref="state-types:jsDependencyRule"/>
            </xs:sequence>
            <xs:attribute name="dependencyID" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string"/>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="JobDefinition_Type">
        <xs:sequence>
            <xs:element ref="jsdl:JobDescription"/>
            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="optional"/>
        <xs:anyAttribute namespace="##other" processContents="lax"/>
    </xs:complexType>
</xs:schema>